<div data-role="collapsible" data-theme="b">
  <h3>Android用入力項目</h3>
  <div data-role="fieldcontain">
    <label for="contact[display_name]" class="fieldLabel">表示名</label>
    <input type="text" id="contact[display_name]" name="contact[display_name]" <%= placeholder("表示名") %> />
  </div>

  <div data-role="fieldcontain">
    <label for="contact[home_number]" class="fieldLabel">(自宅)電話番号</label>
    <input type="text" id="contact[home_number]" name="contact[home_number]" <%= placeholder("(自宅)電話番号") %> />
  </div>
</div>
