<div data-role="collapsible" data-theme="b">
  <h3>Androidの項目</h3>

  <ul data-role="listview">
    <li>
      <div class="itemLabel">表示名</div>
      <div class="itemValue"><%= @contact["display_name"] %></div>
    </li>

    <li>
      <div class="itemLabel">(自宅)電話番号</div>
      <div class="itemValue"><%= @contact["home_number"] %></div>
    </li>
  </ul>
</div>