<div data-role="page" data-theme="b">

  <div data-role="header" data-position="inline">
    <h1>ライター機能</h1>
    <a href="<%= url_for :action => :write %>" class="ui-btn-left" data-icon="delete" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      キャンセル
    </a>
  </div>

  <div data-role="content">
    <p>かざして下さい</p>
  </div>
</div>
