<div data-role="page" data-theme="b">

  <div data-role="header" data-position="inline">
    <h1>Bluetooth機能</h1>
    <a href="<%= url_for(:action => :index) %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      キャンセル
    </a>
  </div>

  <div data-role="content">
    お待ちください
  </div>

</div>
